.profile {
  width: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  @include large {
    padding-top: 100px;
  }

  #profile-avatar {
    border-radius: 50%;
    border: 2px solid #ccc;

    & > div {
      border-radius: 50%;
      border: 1px solid transparent;
      overflow: hidden;
      width: 125px;
      height: 125px;
      @include large {
        width: 200px;
        height: 200px;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .profile-descrip {
    min-height: 120px;
    width: 100%;
    text-align: center;
  }

  #typed-lock {
    min-height: 26px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px 60px;

    @include large {
      font-size: 20px;
    }
  }

  #slick-carousel-lock {
    width: 100%;
    max-width: 300px;

    @include large {
      max-width: unset;
    }

    .carousel-img-wrap {
      height: 50px;
      @include large {
        height: 100px;
      }
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }
  }

  .profile-blurb {
    padding: 4rem 0;
  }

  .profile-links {
    width: 100%;
  }
}
