$breakpoint-xs: 1px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

@mixin large {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin small-only {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin mobile-side-padding {
  padding-right: 25px;
  padding-left: 25px;
}
