@import './_normalize';
@import './utils';
@import './_profile';
@import './footer';
@import './loadingHeart';

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  @include large {
    font-size: 20px;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

#site-wrap {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
