{{ partial "header.html" . }}

<div id="site-wrap">
  <main class="profile">
    <div id="profile-avatar">
      <div><img src="dean-glueckler.JPG" alt="dean glueckler avatar" /></div>
    </div>
    <div class="profile-descrip">
      <h2>{{ .Params.profilename }}</h2>
      <h3 id="typed-lock"></h3>
    </div>
    <div id="slick-carousel-lock">
      <div class="carousel-img-wrap">
        <img src="logos/html-logo.png" alt="html logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/css-logo.png" alt="css logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/js-logo.png" alt="js logo" />
      </div>

      <div class="carousel-img-wrap">
        <img src="logos/wp-logo.png" alt="wp logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/rails-logo.png" alt="rails logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/sass-logo.png" alt="sass logo" />
      </div>

      <div class="carousel-img-wrap">
        <img src="logos/react-logo.png" alt="react logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/redux-logo.png" alt="redux logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/vue-logo.png" alt="vue logo" />
      </div>

      <div class="carousel-img-wrap">
        <img src="logos/node-logo.png" alt="node logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/phoenix-logo.png" alt="phoenix logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/mongo-logo.png" alt="mongo logo" />
      </div>

      <div class="carousel-img-wrap">
        <img src="logos/materialui-logo.png" alt="material ui logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/rn-logo.png" alt="react native logo" />
      </div>
      <div class="carousel-img-wrap">
        <img src="logos/graphql-logo.png" alt="graphql logo" />
      </div>
    </div>
    <div class="profile-blurb">
      <h3>Blurb..</h3>
      {{ .Content }}
    </div>
  </main>
</div>

{{ partial "footer.html" . }}
